@model IEnumerable<WebApplication.Models.practice>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<h3>Student Detail </h3>
<table class="table table-bordered table-responsive table-condensed">
    <thead>
        <tr class="btn-primary">
            <th>Student Id</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>@Html.DisplayFor(a => item.name)</td>*@
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.phone_number</td>
                <td>@item.address</td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
        @Html.ActionLink("Create", "Create")
    </tbody>
</table>